*{
  text-decoration: none;
  color: white;
}

.navbar {
  background-color: #333;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-brand {
  font-size: 1.5em;
  color: white;
}

.register-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.register-btn:hover {
  background-color: #45a049;
}


.search-container {
  margin-top: 70px; 
  padding: 20px;
}

.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}

/* styles.css */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.search-container {
  text-align: center;
}

.search-input {
  padding: 8px;
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 10px;
  text-align: center;
}

img {
  max-width: 100px;
  max-height: 150px;
}

.registrationForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form {
  width: 300px;
  background-color: green;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav {
  margin-bottom: 20px;
}

.inputData {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
}

.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.done {
  background-color: #4caf50; 
  color: white; 
  padding: 15px; 
  margin-top: 20px; 
  border-radius: 10px; 
  text-align: center; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 10); 
}

.done p {
  margin: 0;

}

li {
  border: 1px solid white;
  box-shadow: 10px 10px  rgba(0, 0, 0, 0.1);
  margin: 8px;
  padding: 16px; 
}

@media (max-width:600px) {
  
#input {
  margin-top: 90vw;
  padding: 8px;
}

}